<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="page-form3" class="list">
      <label class="item item-input" id="page-input5" name="Input">
     <input type="text" placeholder="" ng-model="test" ng-trim="false" ng-show="focus" ng-focus="focus=true" ng-blur="focus=false" maxlength="140" >
      </label>
    </form>
    <div class="bar bar-footer">
      <div class="col text-right">
        <span class="counter">{{140-test.length}}</span>
      </div>
    </div>
    <div id="parserText">
      <p ng-bind-html="test | tweetLinky:'_blank'" ng-show="!focus" ng-click="focus = true"></p>
    </div>
  </ion-content>
</ion-view>
