<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
      <textarea class="input-main" type="text" placeholder="" ng-model="test" ng-trim="false" ng-show="focus" ng-focus="focus=true" ng-blur="focus=false" autofocus></textarea>
    <div class="bar bar-footer">
      <div class="col text-right">
        <span ng-class="test.length>140 ? 'red': 'purple'">{{140-test.length}}</span>
      </div>
    </div>
    <div id="parserText">
      <p ng-bind-html="test | tweetLinky:'_blank'" ng-show="!focus" ng-click="focus = true"></p>
    </div>
  </ion-content>
</ion-view>
